@import 'tailwindcss';

/*
Global
*/

@theme {
  --text-base: 2.4rem;
  --text-base--line-height: 1;

  --color-black: #000;
  --color-white: #fff;

  --spacing-base: 2rem;
  --spacing-md: 3rem;
  --spacing-lg: 6rem;
  --spacing-xl: 8rem;

  --font-primary: Helvetica, Arial, sans-serif;
  --font-secondary: Times New Roman, serif;
}

:root {
  --underline-offset: 0.17em;
  --underline-thickness: 0.05em;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--text-base);
  font-family: var(--font-primary);
}

button {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
}

input {
  outline: none;
}

figure {
  margin: 0;
}

/*
Utils
*/

@utility fill-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

@utility media-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/*
Lazy Loading
*/

img[loading='lazy'] {
  opacity: 0;
  transition: opacity 0.4s;

  &.loaded {
    opacity: 1;
  }
}

/*
Password Form
*/

.password-form {
  text-align: center;

  form {
    width: 350px;
  }

  form > * + * {
    margin-top: 1.6rem;
  }

  form p:first-child {
    font-size: var(--text-base);
    text-align: center;
  }

  form p:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input[type='password'] {
    outline: none;
    box-shadow: none;
    color: black;
    height: auto;
    padding: 1rem;
    border: 2px solid black;
    background-color: var(--white);
    display: block;
    margin-top: 1rem;
    width: 100%;
  }

  form label {
    width: 100%;
  }

  form input[type='submit'] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    border: 1px solid var(--primary-bg);
    text-transform: uppercase;
    font-size: var(--text-base-minus);
    color: var(--primary-bg);
    text-align: center;
    width: 100%;
    margin-top: var(--spacing-base);
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      @media (width >= 1024px) {
        border-style: dotted;
      }
    }
  }
}

/*
Video Block
*/

def-video {
  display: block;

  .video-container {
    color: white;

    .play {
      transition: none;
      pointer-events: auto;

      &:focus-visible {
        box-shadow: inset 0 0 0 3px white;
      }
    }

    &.playing {
      .play {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
      }

      video,
      .video-inner {
        opacity: 1;
      }
    }
  }

  .play-icon {
    width: 48px;
    z-index: 10;
    position: relative;

    @media screen and (min-width: theme('screens.lg')) {
      width: 50px;
    }
  }

  .video-inner {
    iframe {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }

  video,
  .video-inner {
    opacity: 0;
  }

  &.no-poster {
    video,
    .video-inner {
      opacity: 1;
    }
  }

  .play {
    color: var(--color-black);
  }

  &.autoplay {
    video {
      opacity: 1;
    }
  }
}
